select#selectVoucherGroup{
	width:70px;
	float:left;
}
input#datePicker{
	float:right;
	width:170px;
	margin-right:10px;
}
input#vchnum{
	width:40px;
	margin-left:10px;
	float:left;
}
.lefttext{
	float:left;
}
.righttext{
	float:right;
}
.clear{
	clear:both;
}
.red{
	color:#ec0909;
}