input.fulltd{
	width:100%;
    height:100%;/*高度没法调控*/
    border:none;
    text-align:center;
    background-color:transparent;/*透明背景*/
}
td.full{
	padding:0;
    height:0;
    width:0;
    border:0;
}
a.toleft{
	float:left;
}
td.hidden{
	display:none;
}